Repository failed33/paraview-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: python, cpp

Build for ParaView >= 5.13.X (macOS/Linux + Windows) + fix popup and Windows link (#33)
  .github/INSTALL_PLUGIN.md
  .github/scripts/build-linux-plugin.sh
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  CONTRIBUTING.md
  Plugins/ParaViewMCP/CMakeLists.txt
  Plugins/ParaViewMCP/bridge/ParaViewMCPPythonBridge.cxx
  Plugins/ParaViewMCP/ui/ParaViewMCPPopup.cxx
  Plugins/ParaViewMCP/ui/ParaViewMCPToolbar.cxx
  README.md
  THIRD-PARTY-NOTICES.txt
  Wrapping/Python/MCPServer/README.md
  Wrapping/Python/MCPServer/docs/plans/2026-03-01-test-coverage-design.md
  Wrapping/Python/MCPServer/pyproject.toml
  Wrapping/Python/MCPServer/uv.lock
Due: cpp

fix(ci): validate release-compatible pull request titles
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix(ci): validate release-compatible pull request titles (#35)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix(ci): sign and notarize macOS release artifacts
  .github/INSTALL_PLUGIN.md
  .github/workflows/release.yml
  README.md
Due: none

fix(server): synchronize lockfile package version
  Wrapping/Python/MCPServer/uv.lock
Due: none

fix(ci): target packaged macOS Python dylib
  .github/workflows/build-macos.yml
Due: none

fix(ci): resolve Qt frameworks from ParaView bundle
  .github/workflows/build-macos.yml
Due: none

fix(ci): make macOS release checks portable
  .github/workflows/build-macos.yml
  .github/workflows/release.yml
Due: none

fix(plugin): initialize embedded Python importer
  Plugins/ParaViewMCP/bridge/ParaViewMCPPythonBridge.cxx
  Testing/Unit/Cpp/CMakeLists.txt
  Testing/Unit/Cpp/TestParaViewMCPPythonBridge.cxx
Due: none

fix(ci): harden macOS release cleanup
  .github/INSTALL_PLUGIN.md
  .github/workflows/release.yml
Due: none

test(ci): load release plugins with official ParaView
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  .github/workflows/release.yml
  Testing/Smoke/load_plugin.py
Due: none

fix(ci): make runtime smoke checks noninteractive
  .github/scripts/load-linux-plugin.sh
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
Due: none

fix(ci): sign and notarize macOS release artifacts (#36)
  .github/INSTALL_PLUGIN.md
  .github/scripts/load-linux-plugin.sh
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  .github/workflows/release.yml
  Plugins/ParaViewMCP/bridge/ParaViewMCPPythonBridge.cxx
  README.md
  Testing/Smoke/load_plugin.py
  Testing/Unit/Cpp/CMakeLists.txt
  Testing/Unit/Cpp/TestParaViewMCPPythonBridge.cxx
  Wrapping/Python/MCPServer/uv.lock
Due: none

fix: align release and runtime versions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Plugins/ParaViewMCP/CMakeLists.txt
  Plugins/ParaViewMCP/bridge/ParaViewMCPRequestHandler.cxx
  Testing/Unit/Cpp/TestParaViewMCPRequestHandler.cxx
  Wrapping/Python/MCPServer/src/paraview_mcp/server.py
  Wrapping/Python/MCPServer/tests/support.py
  Wrapping/Python/MCPServer/tests/test_mcp_integration.py
  Wrapping/Python/MCPServer/tests/test_server_runtime.py
  Wrapping/Python/MCPServer/uv.lock
  release-please-config.json
  scripts/check-versions.py
Due: python, cpp

fix: align release and runtime version metadata (#38)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Plugins/ParaViewMCP/CMakeLists.txt
  Plugins/ParaViewMCP/bridge/ParaViewMCPRequestHandler.cxx
  Testing/Unit/Cpp/TestParaViewMCPRequestHandler.cxx
  Wrapping/Python/MCPServer/src/paraview_mcp/server.py
  Wrapping/Python/MCPServer/tests/support.py
  Wrapping/Python/MCPServer/tests/test_mcp_integration.py
  Wrapping/Python/MCPServer/tests/test_server_runtime.py
  Wrapping/Python/MCPServer/uv.lock
  release-please-config.json
  scripts/check-versions.py
Due: python, cpp

fix: align release and runtime version metadata
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Plugins/ParaViewMCP/CMakeLists.txt
  Plugins/ParaViewMCP/bridge/ParaViewMCPRequestHandler.cxx
  Testing/Unit/Cpp/TestParaViewMCPRequestHandler.cxx
  Wrapping/Python/MCPServer/src/paraview_mcp/server.py
  Wrapping/Python/MCPServer/tests/support.py
  Wrapping/Python/MCPServer/tests/test_mcp_integration.py
  Wrapping/Python/MCPServer/tests/test_server_runtime.py
  Wrapping/Python/MCPServer/uv.lock
  release-please-config.json
  scripts/check-versions.py
Due: python, cpp

fix(ci): align release pull request titles
  release-please-config.json
Due: none

fix(ci): align release pull request titles (#40)
  release-please-config.json
Due: none

fix(ci): support individual Apple notarization keys
  .github/workflows/release.yml
Due: none

fix(ci): support individual Apple notarization keys (#41)
  .github/workflows/release.yml
Due: none

fix(ci): align Dependabot commit messages
  .github/dependabot.yml
Due: none

fix(ci): align Dependabot commit messages (#48)
  .github/dependabot.yml
Due: none

fix(ci): handle Dependabot title capitalization
  .github/workflows/ci.yml
Due: none

fix(ci): handle Dependabot title capitalization (#50)
  .github/workflows/ci.yml
Due: none

fix(plugin): reuse toolbar popup from Tools menu
  Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.cxx
  Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.h
  Plugins/ParaViewMCP/ui/ParaViewMCPActionGroup.cxx
  Plugins/ParaViewMCP/ui/ParaViewMCPPopup.cxx
  Plugins/ParaViewMCP/ui/ParaViewMCPToolbar.cxx
  Plugins/ParaViewMCP/ui/ParaViewMCPToolbar.h
Due: none

feat: serialize ParaView command execution
  Plugins/ParaViewMCP/bridge/ParaViewMCPProtocol.h
  Plugins/ParaViewMCP/bridge/ParaViewMCPRequestHandler.cxx
  Plugins/ParaViewMCP/bridge/ParaViewMCPSocketBridge.cxx
  Plugins/ParaViewMCP/paraview_mcp_bridge.py
  Plugins/ParaViewMCP/tests/test_bridge_history.py
  README.md
  Testing/Unit/Cpp/TestParaViewMCPProtocol.cxx
  Testing/Unit/Cpp/TestParaViewMCPRequestHandler.cxx
  Testing/Unit/Cpp/TestParaViewMCPSocketBridge.cxx
  Wrapping/Python/MCPServer/README.md
  Wrapping/Python/MCPServer/src/paraview_mcp/protocol.py
  Wrapping/Python/MCPServer/src/paraview_mcp/server.py
  Wrapping/Python/MCPServer/tests/test_client_mapping.py
  Wrapping/Python/MCPServer/tests/test_connection.py
  Wrapping/Python/MCPServer/tests/test_connection_edges.py
  Wrapping/Python/MCPServer/tests/test_execution_control.py
  Wrapping/Python/MCPServer/tests/test_protocol_edges.py
  Wrapping/Python/MCPServer/tests/test_tool_edges.py
Due: python, cpp

fix: harden popup and native builds
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.cxx
  Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.h
  Plugins/ParaViewMCP/ui/ParaViewMCPActionGroup.cxx
Due: none

fix: keep native Python tests dependency-free
  Wrapping/Python/MCPServer/src/paraview_mcp/server.py
Due: python

test: cover ParaView execution failure paths
  Testing/Unit/Cpp/TestParaViewMCPRequestHandler.cxx
  Wrapping/Python/MCPServer/tests/test_client_mapping.py
  Wrapping/Python/MCPServer/tests/test_execution_control.py
  Wrapping/Python/MCPServer/tests/test_protocol_edges.py
Due: none

fix(plugin): reuse toolbar popup from Tools menu (#51)
  .github/workflows/build-macos.yml
  .github/workflows/build-windows.yml
  Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.cxx
  Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.h
  Plugins/ParaViewMCP/ui/ParaViewMCPActionGroup.cxx
  Plugins/ParaViewMCP/ui/ParaViewMCPPopup.cxx
  Plugins/ParaViewMCP/ui/ParaViewMCPToolbar.cxx
  Plugins/ParaViewMCP/ui/ParaViewMCPToolbar.h
Due: none

feat: serialize ParaView command execution (#52)
  Plugins/ParaViewMCP/bridge/ParaViewMCPProtocol.h
  Plugins/ParaViewMCP/bridge/ParaViewMCPRequestHandler.cxx
  Plugins/ParaViewMCP/bridge/ParaViewMCPSocketBridge.cxx
  Plugins/ParaViewMCP/paraview_mcp_bridge.py
  Plugins/ParaViewMCP/tests/test_bridge_history.py
  README.md
  Testing/Unit/Cpp/TestParaViewMCPProtocol.cxx
  Testing/Unit/Cpp/TestParaViewMCPRequestHandler.cxx
  Testing/Unit/Cpp/TestParaViewMCPSocketBridge.cxx
  Wrapping/Python/MCPServer/README.md
  Wrapping/Python/MCPServer/src/paraview_mcp/protocol.py
  Wrapping/Python/MCPServer/src/paraview_mcp/server.py
  Wrapping/Python/MCPServer/tests/test_client_mapping.py
  Wrapping/Python/MCPServer/tests/test_connection.py
  Wrapping/Python/MCPServer/tests/test_connection_edges.py
  Wrapping/Python/MCPServer/tests/test_execution_control.py
  Wrapping/Python/MCPServer/tests/test_protocol_edges.py
  Wrapping/Python/MCPServer/tests/test_tool_edges.py
Due: python, cpp

feat: migrate to FastMCP 4
  .github/workflows/ci.yml
  Plugins/ParaViewMCP/tests/test_bridge_history.py
  README.md
  THIRD-PARTY-NOTICES.txt
  Wrapping/Python/MCPServer/README.md
  Wrapping/Python/MCPServer/pyproject.toml
  Wrapping/Python/MCPServer/src/paraview_mcp/server.py
  Wrapping/Python/MCPServer/tests/stdio_bridge.py
  Wrapping/Python/MCPServer/tests/test_mcp_integration.py
  Wrapping/Python/MCPServer/uv.lock
Due: python, cpp

chore(deps): update CodeQL actions together
  .github/dependabot.yml
  .github/workflows/codeql.yml
Due: none

fix(ci): accept Dependabot requirement update titles
  .github/workflows/ci.yml
Due: none

feat: migrate to FastMCP 4 and update CodeQL (#63)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  Plugins/ParaViewMCP/tests/test_bridge_history.py
  README.md
  THIRD-PARTY-NOTICES.txt
  Wrapping/Python/MCPServer/README.md
  Wrapping/Python/MCPServer/pyproject.toml
  Wrapping/Python/MCPServer/src/paraview_mcp/server.py
  Wrapping/Python/MCPServer/tests/stdio_bridge.py
  Wrapping/Python/MCPServer/tests/test_mcp_integration.py
  Wrapping/Python/MCPServer/uv.lock
Due: python, cpp

Path conditions:
  python: any of: Wrapping/Python/MCPServer/src/, but not: ThirdParty/**, build/**, **/Testing/**, Plugins/ParaViewMCP/ui/**, Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.cxx, Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.h, Plugins/ParaViewMCP/bridge/ParaViewMCPPythonBridge.cxx, Plugins/ParaViewMCP/lifecycle/**
  cpp: any of: Plugins/, but not: ThirdParty/**, build/**, **/Testing/**, Plugins/ParaViewMCP/ui/**, Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.cxx, Plugins/ParaViewMCP/bridge/ParaViewMCPBridgeController.h, Plugins/ParaViewMCP/bridge/ParaViewMCPPythonBridge.cxx, Plugins/ParaViewMCP/lifecycle/**
